/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
    background-color: #111827;
}

* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}